


<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto  orderlist">
        <li class="nav-item text-center">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blogs</a>
        </li>


        <li class="nav-item">
          <a class="nav-link "><img style="width:40px;height: 40px;" src="../../../assets//images/hemolink_main_logo.png"></a>
        </li>

        <li class="nav-item">
          <a class="nav-link ">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Android APP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ">IOS APP</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
