<!-- <div class="sidenav">
  <ul>
    <li><a routerLink="/dashboard/home">Home</a></li>
    <li><a routerLink="/dashboard/profile">Profile</a></li>

  </ul>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div> -->

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/dashboard/profile" routerLinkActive="active">Profile</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- <mat-toolbar color="primary" class="example-toolbar">
  <button mat-icon-button (click)="isExpanded = !isExpanded"><mat-icon>menu</mat-icon></button>
  <h1 class="example-app-name">Dashboard</h1>

</mat-toolbar> -->
<mat-toolbar color="primary" class="example-toolbar">
  <div style="display: flex;flex-direction: row;align-items: center;">
  <button mat-icon-button (click)="isExpanded = !isExpanded">
    <mat-icon>menu</mat-icon>
  </button>
  <h1 class="example-app-name">Dashboard</h1>
</div>
  <!-- <div class="profile-info">
    <mat-icon class="profile-icon">account_circle</mat-icon>
    <span class="welcome-text">Welcome Admin!</span>
  </div> -->
  <div class="profile-info" [matMenuTriggerFor]="profileMenu">
    <mat-icon class="profile-icon">account_circle</mat-icon>
    <span class="welcome-text">Welcome, User!</span>
  </div>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
    <!-- Add more options if needed -->
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
    (mouseleave)="mouseleave()">
    <mat-nav-list>
      <mat-list-item routerLink="/dashboard/home" routerLinkActive="active" class="parent-sub">
        <mat-icon class="custom-icon" mat-list-icon>home</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Home</span>

      </mat-list-item>
      <mat-list-item routerLink="/dashboard/events" routerLinkActive="active" class="parent-sub">
        <mat-icon class="custom-icon" mat-list-icon>event</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Events</span>

        <!-- <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">Home</a> -->
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/post" routerLinkActive="active" class="parent-sub">
        <mat-icon class="custom-icon" mat-list-icon>collections</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Post</span>

        <!-- <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">Home</a> -->
      </mat-list-item>

      <mat-list-item routerLink="/dashboard/bloodbank" routerLinkActive="active" class="parent-sub">
        <mat-icon class="custom-icon" mat-list-icon>favorite</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Blood Banks</span>

        <!-- <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">Home</a> -->
      </mat-list-item>
      <mat-list-item routerLink="/dashboard/sucess" routerLinkActive="active" class="parent-sub">
        <mat-icon class="custom-icon" mat-list-icon>grade</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Success</span>

        <!-- <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">Home</a> -->
      </mat-list-item>







      <mat-list-item routerLink="/dashboard/profile" routerLinkActive="active" class="parent-sub">
        <mat-icon class="custom-icon" mat-list-icon>account_circle</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Profile</span>

        <!-- <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active">Home</a> -->
      </mat-list-item>

      <!-- <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent parent-sub">

        <mat-icon class="custom-icon" mat-list-icon>home</mat-icon>

        <span class="full-width" *ngIf="isExpanded || isShowing">Parent Menu</span>
        <mat-icon class="custom-icon" class="menu-button" [ngClass]="{'rotated' : showSubmenu}"
          *ngIf="isExpanded || isShowing">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="...">Submenu Item 1</a>
        <a mat-list-item href="...">Submenu Item 2</a>
        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}"
            *ngIf="isExpanded || isShowing">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
          <mat-list-item>SubSubmenu Item 1</mat-list-item>
          <mat-list-item>SubSubmenu Item 2</mat-list-item>
        </div>
      </div> -->


    </mat-nav-list>
    <mat-nav-list>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>



<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
