
.mat-toolbar.mat-primary {
  background: #3b3b3b;
  color: #fff;
}
.example-container {
  height: 1000px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.welcome-text{
  font-size: 10px;
}
.example-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  align-items: center;
  margin-right: 16px; /* Adjust the spacing between "Dashboard" and profile info */
}

.profile-icon {
  margin-right: 8px; /* Adjust the spacing between icon and text */
}
.custom-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.parent-sub{
  display: flex;
  align-items: center;
}
